openapi: 3.0.3
info:
  title: UniSat Wallet - OpenAPI
  version: 1.0.4
  description: >-
    To use the OpenAPI, please register and log in at the UniSat Developer
    Center (https://developer.unisat.io). Once registered, you can directly
    obtain a free-plan API key through the developer center.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
    description: Bitcoin Mainnet endpoint for public.
  - url: https://open-api-testnet.unisat.io
    description: Bitcoin Testnet endpoint for public.
  - url: https://open-api-testnet4.unisat.io
    description: Bitcoin Testnet4 endpoint for public.
  - url: https://open-api-signet.unisat.io
    description: Bitcoin Signet endpoint for public.
  - url: https://open-api-fractal.unisat.io
    description: Fractal Mainnet endpoint for public.
  - url: https://open-api-fractal-testnet.unisat.io
    description: Fractal Testnet endpoint for public.
tags:
  - name: Blocks
    description: Blocks
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Transactions
    description: Transactions
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Addresses
    description: Addresses
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Inscriptions
    description: Inscriptions (https://docs.ordinals.com/inscriptions.html)
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: BRC-20
    description: BRC-20 (https://domo-2.gitbook.io/brc-20-experiment)
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Runes
    description: Runes (https://docs.ordinals.com/runes.html)
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Inscribe
    description: Inscribe Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: MarketPlace-BRC20
    description: BRC20 MarketPlace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: MarketPlace-Collection
    description: Collection MarketPlace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: MarketPlace-Domain
    description: Domain MarketPlace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: MarketPlace-Runes
    description: Runes MarketPlace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: brc20-swap
    description: BRC20 Swap and PizzaSwap Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Fractal
    description: Fractal Only
    urls:
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: CAT20-DEX
    description: CAT20 DEX Service
    urls:
      - https://open-api-fractal.unisat.io
  - name: Collection-Indexer
    description: Collection Indexer Service (Experience Stage)
    urls:
      - https://open-api.unisat.io
paths:
  /v1/indexer/blockchain/info:
    get:
      tags:
        - Blocks
      summary: |
        Get blockchain info.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      chain:
                        type: string
                      blocks:
                        type: integer
                      headers:
                        type: integer
                      bestBlockHash:
                        type: string
                      prevBlockHash:
                        type: string
                      medianTime:
                        type: integer
                      chainwork:
                        type: string
        '401':
          description: Invalid API Key
  /v1/indexer/fees/recommended:
    get:
      tags:
        - Blocks
      summary: |
        Get Recommended Fees. (sat/vB)
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      fastestFee:
                        type: integer
                      halfHourFee:
                        type: integer
                      hourFee:
                        type: integer
                      economyFee:
                        type: integer
                      minimumFee:
                        type: integer
                      updateTime:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/height/{height}/block:
    get:
      tags:
        - Blocks
      summary: Get block info by block height.
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BlockInfo'
        '401':
          description: Invalid API Key
  /v1/indexer/height/{height}/block2:
    get:
      tags:
        - Blocks
      summary: Get block info by block height. [test]
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BlockInfo'
        '401':
          description: Invalid API Key
  /v1/indexer/block/id/{blockid}:
    get:
      tags:
        - Blocks
      summary: Get block info by blockid.
      parameters:
        - name: blockid
          description: Block id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BlockInfo'
        '401':
          description: Invalid API Key
  /v1/indexer/block/{height}/txs:
    get:
      tags:
        - Blocks
      summary: Get tx history by block height.
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 800000
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/TxHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}:
    get:
      tags:
        - Transactions
      summary: Get the summary info of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/TxHistoryItem'
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}/ins:
    get:
      tags:
        - Transactions
      summary: Get the inputs of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        description: >-
                          0~3: Reserved , 4: CodeType_P2PK, 5: CodeType_P2PKH,
                          6: CodeType_P2SH, 7: CodeType_P2WPKH, 8:
                          CodeType_P2WSH, 9: CodeType_P2TR
                        type: integer
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptSig:
                        type: string
                      scriptType:
                        type: string
                      scriptWits:
                        type: string
                      sequence:
                        type: integer
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightTxo:
                        type: integer
                      utxid:
                        type: string
                      vout:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}/outs:
    get:
      tags:
        - Transactions
      summary: Get the outputs of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptType:
                        type: string
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightSpent:
                        type: integer
                      txidSpent:
                        type: string
                      vout:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/rawtx/{txid}:
    get:
      tags:
        - Transactions
      summary: Get a rawtx
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        '401':
          description: Invalid API Key
  /v1/indexer/utxo/{txid}/{index}:
    get:
      tags:
        - Transactions
      summary: Get the utxo info
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: index
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                      vout:
                        type: integer
                        example: 0
                      satoshi:
                        type: integer
                        example: 10000
                      scriptType:
                        type: string
                      scriptPk:
                        type: string
                      codeType:
                        type: integer
                      address:
                        type: string
                      height:
                        type: integer
                      idx:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      isOpInRBF:
                        type: boolean
                        example: false
                      isSpent:
                        type: boolean
                        example: false
        '401':
          description: Invalid API Key
  /v1/indexer/local_pushtx:
    post:
      tags:
        - Transactions
      summary: Push rawtx to bitcoin node.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalPushParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        '401':
          description: Invalid API Key
  /v1/indexer/local_pushtxs:
    post:
      tags:
        - Transactions
      summary: Push multiple rawtxs to bitcoin node.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalPushtxsParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: array
                    items:
                      type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/balance:
    get:
      tags:
        - Addresses
      description: Get balance by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      satoshi:
                        type: integer
                      pendingSatoshi:
                        type: integer
                      utxoCount:
                        type: integer
                      btcSatoshi:
                        type: integer
                      btcPendingSatoshi:
                        type: integer
                      btcUtxoCount:
                        type: integer
                      inscriptionSatoshi:
                        type: integer
                      inscriptionPendingSatoshi:
                        type: integer
                      inscriptionUtxoCount:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/history:
    get:
      tags:
        - Addresses
      description: Get the tx history by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/TxHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/utxo-data:
    get:
      tags:
        - Addresses
      summary: Get non inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-utxo-data:
    get:
      tags:
        - Inscriptions
      summary: Get inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/info/{inscriptionid}:
    get:
      tags:
        - Inscriptions
      summary: Get inscription info by inscriptionId
      parameters:
        - name: inscriptionid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/InscriptionData'
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/content/{inscriptionid}:
    get:
      tags:
        - Inscriptions
      summary: Get inscription content info by inscriptionId
      parameters:
        - name: inscriptionid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/events:
    get:
      tags:
        - Inscriptions
      summary: Get inscription events
      parameters:
        - name: start
          description: Start blockheight
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End blockheight (0 represents the inclusion of mempool data.)
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionEvent'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-data:
    get:
      tags:
        - Inscriptions
      summary: Get inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      inscription:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionData'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/bestheight:
    get:
      tags:
        - BRC-20
      summary: Get the best block height of BRC20 data.
      description: >-
        Get the best block height of BRC20 data. This value will be consistent
        with the latest block height a short time after the block has been
        confirmed.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        description: best block height of brc20
                        type: integer
                      total:
                        description: total number of brc20 tickers
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/list:
    get:
      tags:
        - BRC-20
      description: Get the tiker list of BRC20 token.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        items:
                          type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/status:
    get:
      tags:
        - BRC-20
      description: Obtain BRC20 list status
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: sort by (holders/deploy/minted/transactions)
          in: query
          required: false
          schema:
            type: string
            enum:
              - holders
              - deploy
              - minted
              - transactions
          example: deploy
        - name: complete
          description: filter by (completed or not)
          in: query
          required: false
          schema:
            type: string
            enum:
              - 'yes'
              - 'no'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20InfoItem'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/info:
    get:
      tags:
        - BRC-20
      description: Get the infomation of BRC20 by ticker.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BRC20InfoItem'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/holders:
    get:
      tags:
        - BRC-20
      description: Get the holders of BRC20 by ticker.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            availableBalance:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: height
          description: Block height
          in: query
          required: true
          schema:
            type: integer
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/tx/{txid}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: txid
          description: txid
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/history-by-height/{height}:
    get:
      tags:
        - BRC-20
      description: Get the tiker list of BRC20 token.
      parameters:
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: integer
          example: 818698
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: number
                      total:
                        type: integer
                      start:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token summary by address, including available balance,
        transferable balance
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: tick_filter
          description: >-
            Filter by tick type (8 Filter ticks with selfMint set to false, 16
            Filter ticks with selfMint set to true, 24 Return all ticks
            regardless of selfMint.)
          in: query
          required: false
          schema:
            type: string
            enum:
              - 8
              - 16
              - 24
          example: 24
        - name: exclude_zero
          description: Exclude zero balance
          in: query
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary-by-height/{height}:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token summary by address, including available balance,
        transferable balance
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/info:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token infomation by address, including available balance,
        transferable balance, number of transferable inscriptions, the first few
        Inscriptions, etc.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      ticker:
                        type: string
                      overallBalance:
                        type: string
                      availableBalance:
                        type: string
                      availableBalanceSafe:
                        type: string
                      availableBalanceUnSafe:
                        type: string
                      transferableBalance:
                        type: string
                      historyCount:
                        type: integer
                      historyInscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryInscription'
                      transferableCount:
                        type: integer
                      transferableInscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryInscription'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/transferable-inscriptions:
    get:
      tags:
        - BRC-20
      description: Get the transferable inscriptions list of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        properties:
                          inscriptionNumber:
                            type: integer
                          inscriptionId:
                            type: string
                          satoshi:
                            type: integer
                          confirmations:
                            type: integer
                          data:
                            properties:
                              op:
                                type: string
                              tick:
                                type: string
                              lim:
                                type: string
                              amt:
                                type: string
                              decimal:
                                type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20-module/{module}/history:
    get:
      tags:
        - BRC-20
      description: Get the history of BRC20 Module.
      parameters:
        - name: module
          description: Address
          in: path
          required: true
          schema:
            type: string
          example: fd5bd482bed1b62d0702e2f19a1e3bdd4fb755fa5c9bed5d8d0f219a3219ee95i0
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModuleHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20-module/withdraw-history:
    get:
      tags:
        - BRC-20
      description: Get the withdraw history of BRC20.
      parameters:
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModuleHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/runes/status:
    get:
      tags:
        - Runes
      summary: Get runes status
      description: Get runes global status
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    $ref: '#/components/schemas/RuneStatus'
  /v1/indexer/runes/info-list:
    get:
      tags:
        - Runes
      summary: Get runes list
      description: ''
      parameters:
        - name: rune
          in: query
          description: search by rune spacedRune
          required: false
          schema:
            type: string
            example: 0
        - name: sort
          in: query
          description: by (holders/transactions/timestamp)
          required: false
          schema:
            type: string
            example: timestamp
        - name: complete
          in: query
          description: complete type(yes/no)
          required: false
          schema:
            type: string
            example: 'no'
        - name: start
          in: query
          description: default=0
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: required,min=1,max=500,default=10
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 3045
                      start:
                        type: integer
                        example: 0
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/RuneEntry'
  /v1/indexer/runes/{runeid}/info:
    get:
      tags:
        - Runes
      summary: Get rune info by runeid
      description: ''
      parameters:
        - name: runeid
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    $ref: '#/components/schemas/RuneEntry'
  /v1/indexer/runes/{runeid}/holders:
    get:
      tags:
        - Runes
      summary: Get runes holders by runeid
      description: ''
      parameters:
        - name: runeid
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      start:
                        type: integer
                        example: 0
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/RuneHolder'
  /v1/indexer/address/{address}/runes/balance-list:
    get:
      tags:
        - Runes
      summary: Get runes balance list by address
      description: ''
      parameters:
        - name: address
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of items returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    properties:
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/RunesBalance'
  /v1/indexer/address/{address}/runes/{runeid}/balance:
    get:
      tags:
        - Runes
      summary: Get runes balance by address and runeid
      description: ''
      parameters:
        - name: address
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: runeid
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    $ref: '#/components/schemas/RunesBalance'
  /v1/indexer/runes/utxo/{txid}/{index}/balance:
    get:
      tags:
        - Runes
      summary: Get runes balance by utxo
      description: ''
      parameters:
        - name: txid
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: index
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunesBalance'
  /v1/indexer/address/{address}/runes/{runeid}/utxo:
    get:
      tags:
        - Runes
      summary: Get utxo runes balance by address and runeid
      description: ''
      parameters:
        - name: address
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: runeid
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: default=0
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: required,min=1,max=500,default=10
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    properties:
                      start:
                        type: integer
                      total:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/RuneUtxo'
  /v1/indexer/runes/event:
    get:
      tags:
        - Runes
      description: Get the full history events of Runes.
      parameters:
        - name: rune
          description: Filter by rune
          in: query
          required: false
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: false
          schema:
            type: string
            enum:
              - etch
              - mint
              - burn
              - receive
              - send
        - name: address
          description: Filter by address
          in: query
          required: false
          schema:
            type: string
        - name: height
          description: Filter by block height
          in: query
          required: false
          schema:
            type: integer
        - name: txid
          description: Filter by tx
          in: query
          required: false
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/RunesEventItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v2/inscribe/order/summary:
    get:
      tags:
        - Inscribe
      summary: Get order summary of current apikey
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/OrderSummary'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/list:
    get:
      tags:
        - Inscribe
      description: Get order list of current apikey
      parameters:
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: Sort by (asc/desc)
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: status
          description: Status of order
          in: query
          required: false
          schema:
            type: string
            enum:
              - pending
              - inscribing
              - minted
              - closed
              - refunded
        - name: receiveAddress
          description: ReceiveAddress of order
          in: query
          required: false
          schema:
            type: string
        - name: clientId
          description: ClientId of order
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v2/inscribe/order/{orderId}:
    get:
      tags:
        - Inscribe
      summary: Search an order by orderId
      description: |-
        It's recommended to query the latest status every 10 seconds.

        _amount = outputValue*count + minerFee + serviceFee + devFee_
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create:
    post:
      tags:
        - Inscribe
      summary: Create an order
      description: Create an order to inscribe something
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-deploy:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 DEPLOY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateBRC20DeployParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 MINT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateBRC20MintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-transfer:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 TRANSFER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateBRC20TransferParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 MINT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateBRC205ByteMintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/request-commit/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Request commit txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequestCommitBRC205ByteMintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: >-
                      #/components/schemas/OrderRequestCommitBRC205ByteMintResponse
        '401':
          description: Invalid API Key
  /v2/inscribe/order/sign-commit/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Sign commit txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSignCommitBRC205ByteMintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/OrderSignCommitBRC205ByteMintResponse'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/sign-reveal/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Sign reveal txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSignRevealBRC205ByteMintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/OrderSignRevealBRC205ByteMintResponse'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/runes-etch:
    post:
      tags:
        - Inscribe
      summary: Create an order to etch Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRunesEtchParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/create/runes-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to mint Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRunesMintParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Invalid API Key
  /v2/inscribe/order/{orderId}/refund:
    post:
      tags:
        - Inscribe
      summary: Process a refund for an order.
      description: >-
        When the amount paid by the user includes inscriptions, inscribing
        cannot be performed. Refund can be requested through this method.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refundFeeRate:
                  type: number
                  format: float
                  example: 1
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      txid:
                        type: string
                        description: txid of refunded transaction
        '401':
          description: Invalid API Key
  /v2/inscribe/order/{orderId}/refund-estimate:
    post:
      tags:
        - Inscribe
      summary: Estimate the size of the refund transaction
      description: >-
        RefundAmount = PaidAmount - RefundTxSize * RefundFeeRate. This value
        must be greater than SafeRefundAmount, otherwise there's a risk of
        losing inscriptions used for payment due to errors.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      paidAmount:
                        type: integer
                        format: int32
                      refundTxSize:
                        type: integer
                        format: int32
                        description: The refund amount = size * refundFeeRate
                      safeRefundAmount:
                        type: integer
                        format: int32
        '401':
          description: Invalid API Key
  /v3/market/brc20/auction/bind_info:
    post:
      summary: Get the address bind info.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindInfoRequest'
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindInfoResponse'
  /v3/market/brc20/auction/brc20_kline:
    post:
      summary: Get tick k line.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - tick
                - timeStart
                - timeEnd
                - timeStep
              type: object
              properties:
                tick:
                  type: string
                timeStart:
                  description: Start time range
                  type: number
                timeEnd:
                  description: End time range
                  type: number
                timeStep:
                  description: >-
                    Time granularity, such as milliseconds for a 5-minute
                    interval
                  type: number
              additionalProperties: false
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          type: number
                        timestamp:
                          type: number
                      additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/brc20_types:
    post:
      summary: Get statistical data, price, market capitalization, etc. for BRC20.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tickLen:
                  type: number
                  enum:
                    - 4
                    - 5
                  example: 4
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  description: 'Optional: day1, day7, day30'
                  type: string
                ticks:
                  description: Specify a list of ticks
                  type: array
                  items:
                    type: string
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - BTCPrice
                    type: object
                    properties:
                      BTCPrice:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                      deploy:
                        description: The first three deployments of tick
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                      cap:
                        description: The top three tick by market capitalization
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/brc20_types_specified:
    post:
      summary: Get statistical data, price, market capitalization, etc. for BRC20.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  type: string
                tick:
                  type: string
              additionalProperties: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick:
                        type: string
                      curPrice:
                        type: number
                      changePrice:
                        type: number
                      btcVolume:
                        type: number
                      amountVolume:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/bind:
    post:
      summary: Bind btcAddress and nftAddress.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - btcAddress
                - nftAddress
                - sign
              type: object
              properties:
                btcAddress:
                  type: string
                nftAddress:
                  type: string
                sign:
                  type: string
              additionalProperties: false
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/list:
    post:
      summary: Retrieve the list information of the market.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
[...]
